.vagrant
02_apache_custom_login/public
03_caddy_test/public
.env
node_modules/
/data

04_nomad/config/caddy/*
!04_nomad/config/caddy/Caddyfile
!04_nomad/config/caddy/data/.gitkeep
!04_nomad/config/caddy/config/.gitkeep
keys/
