services:
  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.8.0
    ports:
      - '80:80'
      - '443:443'
      - '443:443/udp'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
      - caddy_config:/config
    environment:
      CADDY_INGRESS_NETWORKS: proxy
    networks:
      - proxy
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

volumes:
  caddy_data:
  caddy_config:

networks:
  proxy:
    external: true
