services:
  caddy-egress:
    image: caddy-egress:forwardproxy-v1
    build:
      context: .
      dockerfile: Dockerfile.egress
    network_mode: host
    volumes:
      - ./Caddyfile.egress:/etc/caddy/Caddyfile
    ports:
      - 3128:3128
    restart: always
