# Echo server running on a different host to test NO_PROXY and iptables rules

services:
  echo-server:
    image: mendhak/http-https-echo
    network_mode: host
    environment:
      - HTTP_PORT=8080
    ports:
      - 8080:8080
    deploy:
      replicas: 1
