product:
  name: voting-app

replicaCount: 1

apps:
  database:
    name: db
    volumeName: db-data
    replicaCount: 1
    image:
      repository: postgres
      pullPolicy: IfNotPresent
      tag: '15-alpine'
      environment:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: postgres
    service:
      - type: ClusterIP
        name: 'cluster-service'
      # helps to expose the service outside the cluster for migrations if needed
      # - type: NodePort
      #   name: 'db-nodeport-service'
      #   nodePort: 31002
  redis:
    name: redis
    volumeName: redis-data
    replicaCount: 1
    image:
      repository: redis
      pullPolicy: IfNotPresent
      tag: 'alpine'
  result_ui:
    name: result-ui
    replicaCount: 1
    image:
      repository: dockersamples/examplevotingapp_result
      pullPolicy: IfNotPresent
      tag: ''
    service:
      type: NodePort
      port: 8081
      nodePort: 31001
      name: 'result'
  worker:
    name: worker
    replicaCount: 1
    image:
      repository: dockersamples/examplevotingapp_worker
      pullPolicy: IfNotPresent
      tag: ''
  vote_ui:
    name: vote-ui
    replicaCount: 1
    image:
      repository: dockersamples/examplevotingapp_vote
      pullPolicy: IfNotPresent
      tag: ''
    service:
      type: NodePort
      port: 8080
      nodePort: 30001
      name: 'vote-ui'
